ClicWars.Api/Service References/ServerAdminService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServerAdminService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IServerAdminService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WebServer.Services.Accounting" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServerAdminService_ValidateAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateAccount" />
  </wsdl:message>
  <wsdl:message name="IServerAdminService_ValidateAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IServerAdminService_CreateAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateAccount" />
  </wsdl:message>
  <wsdl:message name="IServerAdminService_CreateAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IServerAdminService_GetAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAccount" />
  </wsdl:message>
  <wsdl:message name="IServerAdminService_GetAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IServerAdminService_CreateCharacter_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateCharacter" />
  </wsdl:message>
  <wsdl:message name="IServerAdminService_CreateCharacter_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateCharacterResponse" />
  </wsdl:message>
  <wsdl:message name="IServerAdminService_GetCharacters_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCharacters" />
  </wsdl:message>
  <wsdl:message name="IServerAdminService_GetCharacters_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCharactersResponse" />
  </wsdl:message>
  <wsdl:message name="IServerAdminService_CreateGameToken_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateGameToken" />
  </wsdl:message>
  <wsdl:message name="IServerAdminService_CreateGameToken_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateGameTokenResponse" />
  </wsdl:message>
  <wsdl:portType name="IServerAdminService">
    <wsdl:operation name="ValidateAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerAdminService/ValidateAccount" message="tns:IServerAdminService_ValidateAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerAdminService/ValidateAccountResponse" message="tns:IServerAdminService_ValidateAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerAdminService/CreateAccount" message="tns:IServerAdminService_CreateAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerAdminService/CreateAccountResponse" message="tns:IServerAdminService_CreateAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerAdminService/GetAccount" message="tns:IServerAdminService_GetAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerAdminService/GetAccountResponse" message="tns:IServerAdminService_GetAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateCharacter">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerAdminService/CreateCharacter" message="tns:IServerAdminService_CreateCharacter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerAdminService/CreateCharacterResponse" message="tns:IServerAdminService_CreateCharacter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCharacters">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerAdminService/GetCharacters" message="tns:IServerAdminService_GetCharacters_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerAdminService/GetCharactersResponse" message="tns:IServerAdminService_GetCharacters_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateGameToken">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerAdminService/CreateGameToken" message="tns:IServerAdminService_CreateGameToken_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerAdminService/CreateGameTokenResponse" message="tns:IServerAdminService_CreateGameToken_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IServerAdminService" type="tns:IServerAdminService">
    <wsp:PolicyReference URI="#NetTcpBinding_IServerAdminService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="ValidateAccount">
      <soap12:operation soapAction="http://tempuri.org/IServerAdminService/ValidateAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateAccount">
      <soap12:operation soapAction="http://tempuri.org/IServerAdminService/CreateAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccount">
      <soap12:operation soapAction="http://tempuri.org/IServerAdminService/GetAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateCharacter">
      <soap12:operation soapAction="http://tempuri.org/IServerAdminService/CreateCharacter" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCharacters">
      <soap12:operation soapAction="http://tempuri.org/IServerAdminService/GetCharacters" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateGameToken">
      <soap12:operation soapAction="http://tempuri.org/IServerAdminService/CreateGameToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServerAdminService">
    <wsdl:port name="NetTcpBinding_IServerAdminService" binding="tns:NetTcpBinding_IServerAdminService">
      <soap12:address location="net.tcp://localhost:8686/ServerAdmin" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8686/ServerAdmin</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>