ClicWars.Api/Service References/ServerAdminService/WebServer.Services.Accounting.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WebServer.Services.Accounting" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WebServer.Services.Accounting" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AccountResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountResult" nillable="true" type="tns:AccountResult" />
  <xs:complexType name="CharacterResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Body" type="xs:int" />
      <xs:element minOccurs="0" name="CreationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Deaths" type="xs:int" />
      <xs:element minOccurs="0" name="Kills" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Serial" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CharacterResult" nillable="true" type="tns:CharacterResult" />
  <xs:complexType name="ArrayOfCharacterResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CharacterResult" nillable="true" type="tns:CharacterResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCharacterResult" nillable="true" type="tns:ArrayOfCharacterResult" />
</xs:schema>